body{
    display: grid;
    grid-template-areas: 
    "h"
    "b"
    "f";
}

header{
    grid-area: h;
    height: 2.2rem;
}

section{
    grid-area: b;
}

#article_blogpost_all{
  margin: 1rem 1rem 10rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 25rem;
  grid-gap: 0.5rem;
}

.overflow{
    overflow: hidden;
}

.img:hover{
    transform: scale(1.3);
    transform-origin: 50% 50%;
}

.img {
    background-image: url(images/article/sample.jpg);
    background-repeat: no-repeat !important;
    background-position: center center;
    background-size: cover;
    transition: transform .7s;
    height: 100%;
}

.gradient{
    background: radial-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.3));  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient:hover{
    transition: background 2s ease-in-out;
    background: radial-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.9)); 
}

.gradient > span {
    color: white;
    text-shadow: 10px 10px 20px black;
    font-weight: bold;
}

.blg1{
    background-image: url(images/article/blog1.jpg);
}

.blg2{
    background-image: url(images/article/blg2.jpg);
}

.blg3{
    background-image: url(images/article/blg3.webp);
}

.blg4{
    background-image: url(images/article/blg4.webp);
}

.blg5{
    background-image: url(images/article/blg5.webp);
}

.blg6{
    background-image: url(images/article/blg6.webp);
}

.blg7{
    background-image: url(images/article/blg7.webp);
}

.blg8{
    background-image: url(images/article/blg8.webp);
}

.blg9{
    background-image: url(images/article/blg9.webp);
}

.blg10{
    background-image: url(images/article/blg10.webp);
}

.blg11{
    background-image: url(images/article/blg11.jpg);
}

.blg12{
    background-image: url(images/article/blg12.webp);
}

.blg13{
    background-image: url(images/article/blg13.jpg);
}

.blg14{
    background-image: url(images/article/blg14.jpg);
}

.blg15{
    background-image: url(images/article/blg15.webp);
}

.blg16{
    background-image: url(images/article/blg16.jpg);
}

.blg17{
    background-image: url(images/article/blg17.jpg);
}

.blg18{
    background-image: url(images/article/blg18.jpg);
}

.blg19{
    background-image: url(images/article/blg19.jpg);
}

.blg20{
    background-image: url(images/article/blg20.jpg);
}

.blg21{
    background-image: url(images/article/blg21.jpg);
}

.blg22{
    background-image: url(images/article/blg22.jpg);
}

.blg23{
    background-image: url(images/article/blg23.jpg);
}

.blg24{
    background-image: url(images/article/blg24.jpg);
}

.blg25{
    background-image: url(images/article/blg25.jpg);
}

.blg26{
    background-image: url(images/article/blg26.jpg);
}


 












footer{
    grid-area: f;
}








