*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;    
}

.top-container{
  background: rgba(51,51,51,.8);
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  z-index: 999;
}

nav {
  height: 3rem;
  width: 100%;
  grid-area: navbar;
  transition: background-color .6s ease 0s;
  opacity: 95%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#chings-logo {
  margin-left: 4rem;
  font-size: 1.1rem;
  font-weight: 900;
  color: white;
}

.spacer{
  width: 2rem;
}

ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

li {
  list-style: none;
  align-self: center;
}

li > a {
  text-decoration: none;
  color: #fff;
  font-size: 0.7rem;
  padding: 5px;
  
}

li > a:hover{
  border-bottom: 1px solid #E5B928;
  font-weight: bold;
}


.socialMedia-container{
  margin-right: 4rem;
}

.social-logo{
  height: 0.7rem;
  filter: grayscale(1.0);
  filter: invert(1.0);
  filter: brightness(100);
  padding: 0 0.6rem;

}




footer {
  height: 8rem;
  width: 100%;
  margin-top: -8rem;
  background-color: #332E2D;
  color: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "foot1 foot2 foot3"

  "f-content1 f-content2 f-content3";
}

footer h3 {
  font-family: 'Playfair Display', serif;
  margin: 1rem 0 0 8rem;
}

footer span{
  font-size: 0.7rem;
}

.copyright{
  grid-area: f-content1;
  margin: 1rem 0 0 8.1rem;
  font-size: 0.6rem;
}

footer h4{
  grid-area: foot2;
  margin: 1.2rem 0 0 8rem;
}
footer nav{
  grid-area: f-content2;
  margin: 0 0 0 4.4rem;
}

footer ul{
  display: flex;
  justify-content: flex-start;
}

footer li{
  margin: 0 0.5rem 0 0;
}

#designer{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bolder;
  margin: 2rem 0 0 2rem;
  color:#665F5F
}



  
