/*font-family: 'Yellowtail', cursive;*/
/*font-family: 'Titillium Web', sans-serif;*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body{
  display: grid;
  grid-template-columns: 30rem 1fr 1fr 30rem;
  grid-template-rows: auto;
  grid-template-areas: 
  "h h h h"
  "a a a a"
  "b1 b1 b1 b1"
  

}

header{
  grid-area: h;
  height: 26rem;
  width: 100vw;
}



.top-container{
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr 1fr 5rem;
  grid-template-rows: 2rem auto;
  grid-template-areas: 
  ". navbar social ."
  ". slogan slogan ."
  ". btm-nav btm-nav .";
}

nav {
  grid-area: navbar;
  position: relative;
  top: 0.3rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  height: 100%;

}

li {
  list-style: none;
  align-self: center;


  
}

li > a {
  text-decoration: none;
  color: #fff;
  font-size: 0.7rem;
  
}

li > a:hover{
  color: #eee;
}

.socialMedia-container{
  grid-area: social;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 0.3rem;
}
.social-logo{
  height: 0.7rem;
  filter: grayscale(1.0);
  filter: invert(1.0);
  filter: brightness(100);
  padding: 0 0.6rem;
}

.linkin-logo{
  height: 0.7rem;
  filter: brightness(100);
  filter: blur(100);
  padding: 0 0.6rem;
}



h1{
  grid-area: slogan;
  color: white;
  font-family: 'Playfair Display', serif;
  word-spacing: 0.5em;
  text-align: center;
  position: relative;
  top: 40%;
  
}

.gradient{
  background: radial-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  height: 100%;
 

}

.author{
  grid-area: a;
  display: flex;
  height: 24rem;
    
}

.author > img{
  flex:1;
  align-self: center;
  height: 13rem;
  max-width: 13rem;
  border-radius: 50%;
  margin: 2rem 5rem 3rem 10rem;
  
 
}

.author p{
  flex:1;
  font-size: 0.9rem;
  justify-self: center;
  align-self: center;
  padding: 0 11rem 0 5rem;
  width: 18rem;
  line-height: 1.3rem;

}

section{
  grid-area: b1;
  display: grid;
  grid-template-columns: 10rem 1fr 1fr 10rem;
  grid-template-rows: auto;
  grid-template-areas: 
  "blg-h blg-h blg-h blg-h"
  ". blg-list blg-list ."
  ". x x .";
}

.blogpost1{
  grid-area: blg-h;
  background-image: url(images/post1.jpg);
  background-repeat: no-repeat !important;
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36rem;
}

.text-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0rem 0 8rem;
  
}

h2{
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
}

.text-container p{
  font-size: 0.9rem;
  color:white;
  line-height: 1.2rem;
  width: 80%;
  margin-top: .5rem;
  font-weight: 300;
}

.text-container button{
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 3rem;
  width: 70%;
  height: 1.8rem;
  border: none;
  border-radius: 5px;
  opacity: 90%;
}

.text-container button:hover{
  opacity: 80%;
}



.video-container{
  flex:2;
  display: flex;
  height: 17rem;
  width: 100%;
  position: relative;
  top: -1.5rem;
  
    
}

.video-container > iframe {
  height: 100%;
  width: 75%;
  
  
}