/*font-family: 'Yellowtail', cursive;*/
/*font-family: 'Titillium Web', sans-serif;*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}





header{
  height: 70vh;
  width: 100vw;
}



.top-container{
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2.5rem 3fr 3fr 3fr;
  grid-template-areas: "nav       nav      nav"
                       "nav       nav      nav"
                       "body1    body2    body3"
                       "body4    body5    body6"
                       "body7    body8    body9";
 
  
}

.gradient{
  background: radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.0));
  grid-column: 1 / 4;
  grid-row: 1 / 6;
  height: 100%;
}

h1{
  color: white;
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  grid-area: body2;
  word-spacing: 0.5em;
  text-align: center;
  margin-top: 2rem;
  
  
}

nav {
  width: 100%;
  height: 4vh;
  grid-area: nav;
 
  
}

ul {
  
  flex: 3;
  display: flex;
  justify-content: flex-start;
  
}

li {
  margin: 0.5rem 1rem;
  list-style: none;
  
}

li > a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight:;
  height: 1rem;
  position: relative;
  z-index: 100;
}

li > a:hover{
  color: #eee;
}

.spacer {
  margin-left: 10%;
}

.socialMedia-container{

}

.social-logo{
  height: 1rem;
  filter: grayscale(1.0);
  filter: invert(1.0);
  filter: brightness(100);
}

.linkin-logo{
  height: 3rem;
  filter: brightness(100);
  filter: blur(100);
  
}
